/* General styles for the whole layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
/* Second Layer: Quick Links */

  
  /* Third Layer: Body */
  .content-body {
    padding: 20px;
    background-color: #fafafa; /* Light background for the body */
    font-size: 1.2em;
  }
  